@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root,
#defaultLayout,
#guestLayout {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #212121;
  background-color: #f6f6f6;
}

input {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 2px solid #e6e6e6;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s;
}

textarea {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 2px solid #e6e6e6;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s;
}

input:focus {
  border-color: #5b08a7;
}

textarea:focus {
  border-color: #5b08a7;
}

.set-margin {
  margin-right: 3px;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #5b08a7;
  border: 0;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 6px;
}

.btn-block {
  width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 4px;
}

.btn-add {
  background-color: #00a762;
}

.btn-delete {
  background-color: #b72424;
}

.btn-logout {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  margin: 10px;
  color: #212121;
  transition: all 0.3s;
  border-radius: 6px;
}

.btn-logout:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #5b08a7;
}

.text-center {
  text-align: center;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table > thead > tr > th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  background-color: #efefef;
}

table > tbody > tr > td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.alert {
  padding: 1rem;
  background-color: #ff4040;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.notification {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  padding: 1rem 1.5rem;
  background-color: #00a762;
  color: white;
  border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-form .form {
  width: 360px;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  padding: 34px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: center;
}

.login-signup-form .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
  text-align: center;
}

.login-signup-form .form .message a {
  color: #5b08a7;
  text-decoration: none;
}

/* Login/Signup form */

#defaultLayout {
  display: flex;
}

#defaultLayout aside {
  width: 240px;
  background-color: #5b08a7;
  padding: 1rem;

}

#defaultLayout aside > a {
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

#defaultLayout aside > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
  flex: 1;
}

#defaultLayout header {
  height: 80px;
  padding: 2rem 3rem;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a034f;
}

#defaultLayout main {
  padding: 2rem;
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

form h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.show-images {
  width: 100%;
  border: 2px solid #e6e6e6;
  padding: 20px;
}

.grid-wrapper {
  --auto-grid-min-size: 10rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.grid-wrapper li {
  color: #ffffff;
  font-size: 24px;
  list-style-type: none;
  /* padding: 5rem 1rem; */
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  list-style: none;
  position: relative;
  display: inline-block;
}

.grid-wrapper li .popup-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  color: white;
  cursor: pointer;
}

.grid-wrapper li:hover .popup-icon {
  display: flex;
}

.grid-wrapper li img:hover {
  filter: blur(2px);
}

.main-container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 2rem 1rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
}

.pagination .current-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .current-search input {
  width: 4rem;
  height: 1rem;
  margin: 0;
  border-radius: 5px;
}

.pagination button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #1abc9c;
}

.pagination p {
  margin: 0 10px;
  font-size: 14px;
}

.header {
  padding: 10px;
}

.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

/* UserForm */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Not Found Container */
.not-found-container {
  text-align: center;
  padding: 50px;
  background-color: #ffffff;
}

.not-found-container h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.not-found-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Confirm Delete Model */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.deletion-modal {
  position: relative;
  width: 30%;
  height: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  /* text-align: center; */
  padding: auto;
}

.deletion-modal p {
    margin-top: 5px;
}

.deletion-modal button {
    margin-left: 7px;
}

.deletion-modal-body {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
}

.deletion-modal .botton-deletion {
  display: flex;
  justify-content:end;
  align-items: end;
  position: relative;
  top: 80px;
  left: 20px;
}


.hover-element:hover {
  background-color: #f3efef;
  cursor: pointer;
}
